@import '../../styles/settings/breakpoints';
@import '../../styles/settings/colors';
@import '../../styles/tools/mixins';

.intro-tab-menu {
  padding-top: 24px;
}

.home-favorite-books {
  padding-top: 24px;
  margin-bottom: 32px;
}

.bottom-sections {
  overflow: hidden;
}

@media (max-width: $lg) {
  .intro-tab-menu {
    display: none !important;
  }

  .home-favorite-books {
    padding-top: 32px;
  }
}
