@import '../../styles/settings/breakpoints';
@import '../../styles/settings/colors';

.see-all-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  color: $primary-color;

  @media (max-width: $lg) {
    font-size: 14px;
    line-height: 16px;
  }
}
