@import '../../styles/settings/breakpoints';
@import '../../styles/settings/colors';
@import '../../styles/tools/mixins';

.library {
  position: relative;
  z-index: 2;
  padding-bottom: 60px;

  &__title {
    @include section-title();
    margin-bottom: 24px;
  }
}

.library-books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  gap: 24px;

  &__book {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &__cover {
      border-radius: 10px;
      object-position: center center;
      object-fit: cover;
    }

    &__info {
      display: flex;
      flex-direction: column;
      row-gap: 6px;

      &__title {
        font-size: 16px;
        line-height: 18px;
        color: $gray-300;

        @include text-max-lines(2);
      }

      &__author {
        font-size: 14px;
        line-height: 16px;
        color: $gray-400;
      }
    }
  }
}

@media (max-width: $lg) {
  .library {
    padding-bottom: 120px;
  }

  .library-books {
    display: flex;
    flex-direction: column;

    &__book {
      column-gap: 10px;

      &__cover {
        width: 48px;
        height: 70px;
      }
    }
  }
}
