@import '../../styles/settings/breakpoints';
@import '../../styles/settings/colors';
@import '../../styles/tools/mixins';

.favorite-books {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &__title {
      @include section-title();
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: flex-start;
    overflow-x: scroll;

    &__button {
      display: flex;
      flex-direction: column;
      width: 136px;
    }

    &__item {
      &__cover {
        border-radius: 10px;
        margin-bottom: 10px;
        object-position: center center;
        object-fit: cover;
      }

      &__title {
        font-size: 16px;
        line-height: 18px;
        color: $gray-300;
        margin-bottom: 4px;

        @include text-max-lines(2);
      }

      &__author {
        font-size: 14px;
        line-height: 16px;
        color: $gray-400;
      }
    }
  }
}
