@import '../../styles/settings/breakpoints';
@import '../../styles/settings/colors';

.header {
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  z-index: 2;

  @media (max-width: $lg) {
    padding-bottom: 12px;

    button {
      display: none;
    }
  }
}

.header__search-input {
  @media (max-width: $lg) {
    display: none !important;
  }
}

.header__shape {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 8px 0px #0000001a;

  height: 72px;
  border-radius: 0px 0px 32px 0px;
  background: $secondary-color;
  width: 92%;

  @media (max-width: $xl) {
    width: 97%;
  }

  @media (max-width: $lg) {
    height: 104px;
    width: 100%;
    box-shadow: 0px 1px 1px 0px #0000000d;
  }
}

.header__separator {
  width: 1px;
  height: 40px;
  background: $gray-600;

  @media (max-width: $lg) {
    display: none;
  }
}

.header__user-info {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.header__user-info__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-position: center center;
  object-fit: cover;
}

.header__user-info__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: $gray-300;

  @media (max-width: $lg) {
    display: none;
  }
}

.header-tab-menu {
  display: none;

  @media (max-width: $lg) {
    display: block;
    position: relative;
    z-index: 2;
    padding-top: 0px;
  }
}
