@import '../../styles/settings/breakpoints';
@import '../../styles/settings/colors';

.footer {
  width: 100%;
  background: $primary-color;
  padding: 26px 0;

  @media (max-width: $lg) {
    display: none;
  }

  &--mobile {
    display: none;

    @media (max-width: $lg) {
      position: fixed;
      z-index: 100;
      bottom: 0;

      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      box-shadow: 0px -2px 8px 0px #00000014;
      background: $secondary-color;
      padding: 10px 20px;
    }
  }
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copy {
  font-size: 12px;
  line-height: 14.06px;
  text-align: right;
  color: $secondary-color;
}
