@import '../tools/mixins';

* {
  font-family: $primary-font;
}

body {
  @include resetSpacings();
  background: $gray-700;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
  line-height: 1.1em;
}

p {
  max-width: 30em;
}
